.gradle/
build/
out/
bin/
**/build/
**/out/
**/.gradle/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

*.log
.DS_Store

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
